Ejecutable/Connected Services/ServiceReference3/WCFVehiculo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1216/wcf/WCFVehiculo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Web.database" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Web.database" minOccurs="0" name="ListarResult" nillable="true" type="q1:ArrayOfVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>