Ejecutable/Connected Services/ServiceReference3/WCFVehiculo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Web.database" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Web.database" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vehiculo" nillable="true" type="tns:Vehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehiculo" nillable="true" type="tns:ArrayOfVehiculo" />
  <xs:complexType name="Vehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Conductor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ejes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoVehiculo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Patente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoVehiculo" nillable="true" type="tns:TipoVehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vehiculo" nillable="true" type="tns:Vehiculo" />
  <xs:complexType name="TipoVehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdTipoVehiculo" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoVehiculo" nillable="true" type="tns:TipoVehiculo" />
</xs:schema>